body {
    background-color: whitesmoke;
}

section {
    padding: 100px 30px;
    margin-left: auto;
    margin-right: auto;
}

nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 0.75em 1em;
    font-size: 1.25em;
}

nav a:hover,
nav a:focus {
    background: rgb(94, 94, 94);
}

nav li {
    list-style: none;
    display: table-cell;
    vertical-align: middle;
    background: rgb(151, 111, 73);
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
}

.name {
    font-family: "merriweather", serif;
    font-weight: 700;
    font-size: 24px;
}

.splash {
    color: #333;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
}


h1 {
    display: inline-block;
    text-decoration: none;
    font-family: "merriweather", serif;
    font-weight: 700;
    font-size: 32px;

}

h3 {
    display: inline-block;
    text-decoration: none;
    font-family: "merriweather", serif;
    font-weight: 400;
}

h2 {
    color: whitesmoke;
    font-family: "merriweather", serif;
    font-weight: 700;
    font-size: 24px;
}

.professor {
    display: inline-block;
    padding: 2%;
    margin-left: auto;
    margin-right: auto;
    color: whitesmoke;

}

.t {
    background: rgb(151, 111, 73);

}

.times {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding-left: 100%;
    width: 20%;
    height: 20%;
}

.set {
    font-size: 24px;
    color: whitesmoke;
}

p {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

ol {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: whitesmoke;

}

.wrap {
    background-color: #333;
}

.signup {
    background-color: whitesmoke;
}

.schedule {
    color: whitesmoke;
}

.wrapper {
    display: grid;
    grid-template-columns: 100px 100px;
    margin-left: 100px;
}

.box {
    padding: 10px;
}

label {
    background-color: #333;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

input[type="radio"] {
    -moz-animation: none;
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid rgb(151, 111, 73);
    height: 20px;
    width: 20px;
}

input[type="radio"] {
    border-radius: 50%;
}

input[type="radio"]:checked {
    background-color: #333;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

input[type="radio"]:checked+label {
    text-decoration: underline;
    text-decoration-color: #333;
}

input[type="radio"]:hover {
    background-color: #333;
}

input[type="text"],
input[type="email"],
input[type="number"] {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #333;
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus {
    color: #1e2019;
}

input[type="text"]:required:valid,
input[type="email"]:required:valid,
input[type="number"]:required:valid {
    border-bottom-color: #rgb(151, 111, 73);
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #333;
}

input[type="text"]:not(:placeholder-shown):invalid,
input[type="email"]:not(:placeholder-shown):invalid,
input[type="number"]:not(:placeholder-shown):invalid {
    border-bottom-color: #c61a3a;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #333;

    /* use css variables /*
