*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #163346;
}

div {
    background-color: #1e2019;
    max-width: 70%;
    margin-right: auto;
    margin-left: auto;
}

label {
    font-family: "Benchnine", monospace;
    font-size: 22px;
    color: #cececd;
}

legend {
    font-family: "Benchnine", monospace;
    font-size: 22px;
    color: #cececd;
}

.sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    margin: -1px;
    padding: 0;
    position: absolute !important;
    height: 1px;
    width: 1px;
}

section {
    background-color: #1e2019;
    margin-right: auto;
    margin-left: auto;
    max-width: 70%;

}

.button-reset {
    background: transparent;
    border: 0;
    cursor: pointer;
    font-weight: inherit;
    padding: 0;
    text-align: left;
}

​ .button-reset[disabled] {
    cursor: default;
}

.input,
.textarea,
.select {
    font-family: inherit;
    font-size: inherit;
}

fieldset {
    border: 2px;
    padding: 2px;
}

select {
    cursor: pointer;
}

svg {
    max-width: 240px;
    max-height: 239px;
    display: inline-block;
    position: relative;
    left: 35%;
    top: 40px;
    bottom: 20px;
}

textarea {
    height: 120%;
    width: 75%;
}

input[type="textarea"]:focus {}

input[type="radio"],
input[type="checkbox"] {
    -moz-animation: none;
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #cececd;
    height: 20px;
    width: 20px;
}

input[type="radio"] {
    border-radius: 50%;
}


input[type="radio"]:checked,
input[type="checkbox"]:checked {
    background-color: #71f79f;
    border-color: #d1d5de;
    font-size: #cececd;
    font-family: "Benchnine", monospace;
    font-size: 22px;
}

input[type="radio"]:hover,
input[type="checkbox"]:hover {
    background-color: #1e2019;
    border: 1px solid #71f79f;
}



input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus {
    border-color: #71f79f;
    font-family: "Benchnine", monospace;
    font-size: 18px;
    color: #1e2019;
}

input[type="text"]:required:valid,
input[type="email"]:required:valid,
input[type="number"]:required:valid {
    border-color: #71f79f;
    font-family: "Benchnine", monospace;
    font-size: 18px;
    color: #1e2019;
}

input[type="text"]:not(:placeholder-shown):invalid,
input[type="email"]:not(:placeholder-shown):invalid,
input[type="number"]:not(:placeholder-shown):invalid {
    border-color: #C61A3A;
    font-family: "Benchnine", monospace;
    font-size: 18px;
    color: #1e2019;
}

p {
    font-family: "Benchnine", monospace;
    font-size: 18px;
    color: #cececd;
}

h1 {
    font-family: "Teko", sans-serif;
    font-size: 48px;
    color: #1e2019;
    text-align: center;

}

.top {
    background-color: #cececd;
    max-width: 100%;


}

.caption {
    font-family: "teko", sans-serif;
    font-size: 26px;
    text-align: center;
    color: #1e2019;



}

h2 {
    font-family: "Teko", sans-serif;
    font-size: 40px;
    color: #cececd;
}
