*,
*::before,
*::after {
    box-sizing: border-box;
}

.sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    margin: -1px;
    padding: 0;
    position: absolute !important;
    height: 1px;
    width: 1px;
}

.button-reset {
    background: transparent;
    border: 0;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    padding: 0;
    text-align: inherit;
}

​ .button-reset[disabled] {
    cursor: default;
}

.input,
.textarea,
.select {
    font-family: inherit;
    font-size: inherit
}

fieldset {
    border: 0;
    padding: 0;
}

select {
    cursor: pointer;
}

textarea {
    height: 300px;
    width: 900px;
}

input[type="radio"],
input[type="checkbox"] {
    -moz-animation: none;
    -webkit-appearance: none;
    appearance: none;
    border: 2px solid black;
    height: 12px;
    width: 12px;
}

input[type="radio"] {
    border-radius: 50%;
}

input[type="radio"]:checked,
input[type="checkbox"]:checked {
    background-color: green;
    border-color: green;
}

input[type="radio"]:checked+label,
input[type="checkbox"]:checked+label {
    color: green;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus {
    border-color: yellowgreen;
}

input[type="text"]:required:valid,
input[type="email"]:required:valid,
input[type="number"]:required:valid {
    border-color: green;
}

input[type="text"]:not(:placeholder-shown):invalid,
input[type="email"]:not(:placeholder-shown):invalid,
input[type="number"]:not(:placeholder-shown):invalid {
    border-color: red;
}
