body {
    padding: 60px;
}

div {
    background-color: #faf4e3;
    border: 2px solid #686868;
    border-radius: 8px;
    height: 258px;
    width: 640px;
    padding: 5px;
    margin-right: auto;
    margin-left: auto;
}

h1 {
    text-align: left;
    font-size: 34px;
    color: #395527;
}

h2 {
    text-align: left;
    font-size: 22px;
    color: #686868;
}

p {
    text-align: justify;
    font-size: 18px;
    color: #686868;
}

.button-reset {
    background: #395527;
    border-radius: 10px;
    color: #faf4e3;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}

main {
    padding: 52px 12%;
}
