* {
    box-sizing: border-box;
}

body {
    padding: 60px;
    margin-right: auto;
    margin-left: auto;
    background-color: ;
    color: #686868;
    font-family: ;
    font-size: 18px;
    padding: 50px 12%;
}

div {
    background-color: #faf4e3;
    border: 2px solid #686868;
    border-radius: 8px;
    height: 258px;
    width: 640px;
    padding: 5px;
}

h2 {
    text-align: left;
    font-size: 34px;
    color: #395527;

}

h3 {
    text-align: left;
    font-size: 22px;
}

p {
    text-align: justify;
    margin-right: 5%;
}

ul {
    text-align: justify;
}

.button-reset {
    background: #395527;
    border-radius: 10px;
    color: #faf4e3;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}
